@import url('https://fonts.googleapis.com/css2?family=Anton&family=Black+Ops+One&family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&family=Silkscreen:wght@400;700&display=swap');
*{
    padding: 0;
    margin: 0;
}
.hd{
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    position: relative;
}
#timer{
    font-family: "Libre Caslon Text", serif;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    padding: 10px;
    border-radius: 25px;
    text-align: center;
}
#timer h2{
    font-size: 80px;
}
#tm3{
    font-weight: bold;
}

